@forward "/scss/reset";
@use "/scss/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --c-primary-200: hsl(25, 100%, 94%);
  --c-primary-400: hsl(26, 100%, 55%);

  --c-neutral-100: hsl(0, 0%, 100%);
  --c-neutral-300: hsl(223, 64%, 98%);
  --c-neutral-400: hsl(220, 14%, 75%);
  --c-neutral-700: hsl(219, 9%, 45%);
  --c-neutral-800: hsl(220, 13%, 13%);
  --c-neutral-900: hsl(0, 0%, 0%, 75%);

  --fs-200: 0.8rem;
  --fs-300: 0.9rem;
  --fs-400: 16px;
  --fs-500: 1.25rem;
  --fs-800: 1.5rem;
  --fs-900: 2.5rem;

  --fs-xs: var(--fs-200);
  --fs-sm: var(--fs-300);
  --fs-body: var(--fs-400);
  --fs-lg: var(--fs-500);
  --fs-xl: var(--fs-800);

  --ff-primary: "Kumbh Sans", sans-serif;
  --ff-body: var(--ff-primary);

  --fw-regular: 400;
  --fw-bold: 700;

  @include for-desktop {
    --fs-xl: var(--fs-900);
  }
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--c-neutral-700);
  background-color: var(--c-neutral-100);
}

/* Utility classes */

.bg-primary-200 {
  background-color: var(--c-primary-200);
}
.bg-primary-400 {
  background-color: var(--c-primary-400);
}
.bg-neutral-300 {
  background-color: var(--c-neutral-300);
}

.text-primary-400 {
  color: var(--c-primary-400);
}
.text-neutral-400 {
  color: var(--c-neutral-400);
}
.text-neutral-700 {
  color: var(--c-neutral-700);
}
.text-neutral-800 {
  color: var(--c-neutral-800);
}

.text-uppercase {
  text-transform: uppercase;
}
.text-strike {
  text-decoration: line-through;
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-xs {
  font-size: var(--fs-xs);
}
.fs-sm {
  font-size: var(--fs-sm);
}
.fs-md {
  font-size: var(--fs-body);
}
.fs-lg {
  font-size: var(--fs-lg);
}
.fs-xl {
  font-size: var(--fs-xl);
}

.lh-sm {
  line-height: 1.2;
}
.lh-md {
  line-height: 1.5;
}

.radius-sm {
  border-radius: 3px;
}
.radius-md {
  border-radius: 5px;
}
.radius-lg {
  border-radius: 10px;
}

.container {
  --max-width: 1110px;
  --padding: 1.5rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flex {
  display: flex;
}
.flex-center {
  align-items: center;
}
.flex-sb {
  justify-content: space-between;
}
